* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.border {
  border-top: 1px solid #353435;
}

.icon-space {
  width: 2rem;
}

.table-vertical-top {
  vertical-align: top;
}

button {
  border-radius: 20px;
  background-color: #404247;
  color: #fff;
  border: 1px solid #000;
  padding: 15px 40px;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 5px #f8faff;
}

button:hover {
  opacity: 1;
}

button:active {
  position: relative;
  top: 9px;
  box-shadow: none;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav .container {
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav .container .navbar-brand {
  padding: 1rem;
}

nav .container .navbar-nav ul {
  display: flex;
  list-style-type: none;
  margin-right: 2rem;
}

nav .container .navbar-nav ul li {
  margin-left: 1.5rem;
}

nav .container .navbar-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  padding: 15px;
}

nav .container .navbar-nav ul li a:hover {
  background: white;
  transition: 0.5s;
  color: #000;
}
nav .container .res {
  color: #fff;
  font-size: 1.5rem;
  display: none;
}
.schedule .container {
  margin: 5rem 8rem;
}

.schedule .container h1 {
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
  font-family: bold;
  font-size: 30px;
}

.schedule .container .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.schedule .container .cards .card {
  padding: 2rem;
  background-color: #737285;
  margin-bottom: 20px;
  color: #fff;
  width: 30%;
  border-radius: 15px;
  transition: 0.5s ease;
}

.schedule .container .cards .card:hover {
  box-shadow: 0 0 20px 0px #525858;
}
footer .container {
  padding: 1rem 1rem;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 180px;
  background-color: rgb(2, 2, 2);
}
footer .container .social-media i {
  color: white;
  text-align: center;
  margin-left: 1rem;
  font-size: 20px;
}
